/* general styles */
html, body {
	height: 100%;
	width: 100%;
}
/* padded section */
.pad-section {
	padding: 50px 0;	
}
.pad-section img {
	width: 100%;
}
/* vertical-centered text */
.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.text-vcenter h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
/* additional sections */
#home {
	background: url(../images/pizza.jpg) no-repeat center center fixed; 
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#about{
}
#services {
	background-color: #FF6347;
	color: #ffffff;
}
#services .fa {
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	display: inline-block;
	font-size: 60px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}
#pizza {
	background: url(../images/pizza2.jpg) no-repeat center center fixed; 
	display: table;
	height: 600px;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#pizza .panel {
	opacity: 0.85;
}
#create{
}
#create .fa {
	border: 2px solid black;
	border-radius: 50%;
	display: inline-block;
	font-size: 80px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}
#informations {
	background-color: #FF6347;
	color: #ffffff;
}
#informations .fa {
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	display: inline-block;
	font-size: 60px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}
#pates {
	background: url(../images/carbo.jpg) no-repeat center center fixed; 
	display: table;
	height: 600px;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#pates .panel {
	opacity: 0.85;
}
#google_map {
	height: 500px;
}
footer {
	padding: 20px 0;
}
footer .fa {
	color: #333333;
	font-size: 60px;
}
footer .fa:hover {
	color: #306d9f;
}







